* {
  box-sizing: border-box;
}

html,
body {
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  box-sizing: border-box;
}

body {
  padding: 1em 2em;
  line-height: 1.5em;
}

ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0 0 1em 0;
}

.committee-meeting {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: solid 2px #999;
  margin-bottom: 1em;
  padding-top: 1em;
  max-width: 80em;
  margin: 0 auto;

  article {
    .title {
      padding: 1em 0;
      margin: 0;
      position: sticky;
      top: 0;
      background-color: #f0f0f0;
      
      line-height: 1.25em;
      a {
        color: #333;
        text-decoration: none;
      }
    }
  }

  .attendance {
    text-align: center;
    ul {
      position: sticky;
      top: 0;
    }

    li {
      display: inline-block;
      padding: 1em;
      .member {
        color: #999;
        text-decoration: none;

        .party-circle {
          margin: 0 auto;
          border-radius: 100%;
          vertical-align: middle;
          overflow: hidden;
          align-items: center;
          justify-content: center;
          display: flex;

          .avatar {
            display: block;
            cursor: pointer;
            border-radius: 100%;
            height: 50%;
            width: 50%;
            min-height: 40px;
            min-width: 40px;
            background-size: cover;
            background-position: top center;
            background-repeat: no-repeat;
          }
        }
      }
    }
  }
}
