* {
  box-sizing: border-box;
}

html,
body {
  font-family: Roboto, sans-serif;
  font-size: 8px;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

body {
  margin: 40px;

  div {
    &.event-count-0 {
      display: none;
    }
  }
}

.bill {
  white-space: nowrap;
  margin: 1px;

  .event {
    min-width: 10px;
    height: 5px;
    font-weight: bold;
    background-color: #ccc;
    overflow: hidden;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    position: relative;

    &.previous-not-same-house {
      border-top-left-radius: 0.5em;
      border-bottom-left-radius: 0.5em;
      margin-left: 1px;
    }

    &.next-not-same-house {
      border-top-right-radius: 0.5em;
      border-bottom-right-radius: 0.5em;
      margin-right: 1px;
    }

    &:hover {
      z-index: 1;
      // Scale height by 1.5
      transform: scale(1, 1.5);
      border: solid 2px rgba(255, 255, 255, 0.5);
      opacity: 0.8;
    }

    &.event-house-Joint {
      background-color: #cdcd21;
    }

    &.event-house-NA {
      background-color: #0074d9;
    }

    &.event-house-NCOP {
      background-color: #2ecb41;
    }

    &.event-house-President {
      background-color: #ff851c;
    }

    &:first-child {
      border-radius: 0.5em 0 0 0.5em;
    }

    &:last-child {
      border-radius: 0 0.5em 0.5em 0;
    }

    &:only-child {
      border-radius: 0.5em;
    }
  }
}

.no-wrap {
  white-space: nowrap;
}

.no-underline {
  text-decoration: none;
  color: #333;
}

.max-width-40em {
  max-width: 20em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
